.container-azt{
	/*border: solid red;*/

}


h1{
	text-align: center;
}

.jumbotron{
	/*border: solid blue;*/
}

#logo-tiba a{

	


}
.navbar-inverted a{

color:green;
}
.table-azt{

	border: 1px solid orange;
	margin-top: 2em;
}

#subtype{
	visibility: hidden;
}


.col-md-4{
	background: white;
	border: dashed 1px gray;
	border-radius: 5px;
	min-height: 200px;
	max-height: 100px;
	overflow: auto;
	
}


.col-md-4 h2{
	text-align: center;

}





