.container-azt{
	border: solid red;

}


h1{
	text-align: center;
}

.jumbotron{
	border: solid blue;
}

#logo-tiba a{

	


}
.navbar-inverted a{

color:green;
}
.table-azt{

	border: 1px solid orange;
	margin-top: 2em;
}

#subtype{
	visibility: hidden;
}
