.container-azt{
	
	
	margin: 0 auto;
	text-align: center;

}


h1{
	text-align: center;
}
.navbar-inverted a{

color:green;
}
.table-azt{

	border: 1px solid orange;
	margin-top: 2em;
}

#prueba{

	border: solid 1px red;
	margin: 0 auto;
	text-align: center;
	width: 20%;
}


